/*  your css code here. If applicable */
.hero{
	display:flex;
	justify-content:space-between;
}

img{
	width:40vw;
	height:200px;
}
button{
	background-color:red;
	color:white;
	border-radius:5px;
	padding:5px;
	
}